body {
  // 样式重置
  padding: 0;
  margin: 0;
  font-family: "Microsoft Yahei";

  * {
    margin: 0;
    padding: 0
  }
  em,i {
      font-style: normal
  }
  li {
      list-style: none
  }
  img {
    border: 0;
    vertical-align: middle
  }
  button {
    cursor: pointer
  }
  a {
    color: black;
    text-decoration: none
  }
  a:hover {
    color: #3cb2b3
  }

  #app {
    height: auto;
    width: 100%;
  }

  .el-pagination{
    text-align: right;
    padding-top: 15px;
  }
  .dinner .line{
    border: 1px solid;
  }
  .el-select{
    min-width: 100px;
  }
  //字体颜色大小等begin
  .fontblack{
    color: #000;
  }
  .fontgrey{
    color: #666;
  }
  .font16{
    font-size: 16px;
  }
  .fontbold{
    font-weight: bold;
  }
  .text-c{
    text-align: center;
  }
  .text-l{
    text-align: left;
  }
  .text-r{
    text-align: right;
  }
  //字体颜色大小等end
  .mar20{
    margin-top: 20px;
  }
  .btnChoose{
    // width: 100px;
    height: 50px;
    line-height: 50px;
    border: none;
    background: transparent;
    color: orange;
    letter-spacing:5px;
    font-size: 18px;
    padding-left: 15px;
  }
  .spanSpace{
    letter-spacing:20px;
  }
  .display-f{
    width: 90%;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
  }
  .btnSubmit{
    width: 160px;
    height: 60px;
    background-color:orange;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    position: absolute;
    left: 45%;
  }
  .foot{
    position:absolute;
    width: 80%;
    bottom: 0px;
    height: 100px;
  }
  .agaStudy{
    width: 100px;
    height: 40px;
    background: transparent;
    border: 1px solid #999;
    border-radius: 4px;
    position: absolute;
    top: 15%;
  }
}
